@import url("shablon.css");

/* ----------------------------------------------- */
/* главная страница */
/* кастомизация заголовка вверху страницы */
/* ----------------------------------------------- */

.title-main-list {
    float: none;
    width: auto;
    height: auto;
    /* margin: 10vh 0; */
    padding: 10vh 0;
}

.title-main {
    text-align: center;
    font-size: 42px;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* кастомизация поля с загрузкой файла */
/* ----------------------------------------------- */

.label-file-cpp {
    width: auto;
    padding: 1vh;
}

.input-cell-div {
    width: 10vw;
    height: 10vw;
    border-radius: 15%;
    border: 2px dashed #b4b4b4;
    margin: 2vh auto 5vh auto;
}

.input-cell-div-p {
    width: 10vw;
    height: 10vw;
    position: absolute;
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cell-p {
    opacity: .7;
}

.input-cell {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* отображение имени загруженного файла */
/* ----------------------------------------------- */

.file-name-display {
    text-align: center;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* кнопка загрузки файла для проверки */
/* ----------------------------------------------- */

.button-upload-file {
    width: 20vw;
    height: 7vh;
    border-radius: 15px;
    background-color: #2f2f2f;
    margin: 10vh auto;
}

.button-upload-file-bttn {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #007BFF;
    color: antiquewhite;
    font-size: 24px;
    font-family: "Feature Mono";
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

/* эффект при наведении мыши на кнопку */
.button-upload-file-bttn:hover {
    cursor: pointer;
    background-color: #0056b3;
}

/* эффект при наведении мыши на неактивную кнопку */
.button-upload-file-bttn:disabled:hover {
    cursor: not-allowed;
}

/* кастомизация неактивной кнопки */
.button-upload-file-bttn:disabled {
    background-color: #0056b3;
}

/* ----------------------------------------------- */

.login-btn {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
}

