@import url("shablon.css");

/* ----------------------------------------------- */
/* Заголовок страницы */
/* ----------------------------------------------- */

.title-main-list {
    width: auto;
    padding: 10vh 0;
}

.title-main {
    text-align: center;
    font-size: 42px;
}

/* ----------------------------------------------- */
/* Поля для загрузки файла */
/* ----------------------------------------------- */

.input-cell-div {
    width: 10vw;
    height: 10vw;
    border-radius: 15%;
    border: 2px dashed #b4b4b4;
    margin: 2vh auto 5vh auto;
    position: relative;
}

.input-cell-div-p {
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

.input-cell {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.input-cells {
    display: inline-block;
    margin: 0 1vw;
}

.file-name-display {
    text-align: center;
}

/* ----------------------------------------------- */
/* Кнопка загрузки */
/* ----------------------------------------------- */

.button-upload-file {
    width: 20vw;
    height: 7vh;
    border-radius: 15px;
    background-color: #2f2f2f;
    margin: 10vh auto;
}

.button-upload-file-bttn {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #007BFF;
    color: antiquewhite;
    font-size: 24px;
    font-family: "Feature Mono";
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

.button-upload-file-bttn:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.button-upload-file-bttn:disabled:hover {
    cursor: not-allowed;
}

.button-upload-file-bttn:disabled {
    background-color: #0056b3;
}

/* ----------------------------------------------- */
/* Кнопка входа */
/* ----------------------------------------------- */

.login-btn {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
}

/* ----------------------------------------------- */
/* Переключатель языков */
/* ----------------------------------------------- */

.language-switch {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.lang-btn {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.lang-btn.active {
    background-color: #007BFF;
    transform: scale(1.1);
}

.lang-btn img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.lang-btn:hover {
    background-color: #0056b3;
}

.lab-section {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}
