@import url("shablon.css");

/* ----------------------------------------------- */
/* кастомизация страницы upload */
/* ----------------------------------------------- */

/* контейнер, в котором находится вся информация */
.result-container-global {
    width: 100%;
    height: 100%;
    position: relative;
}

.result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    background-color: #171717;
    border: 1px solid #292929;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* контент контейнера */
/* оглавление результата */
.result-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* надписи описания результатов */
.result-message {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    margin: 1rem 0;
}

.result-container ul {
    list-style-type: none;
}

/* кнопка возвращения на главную страницу */
.back-button {
    text-align: center;
}

.back-button .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* эффект кнопки при наведении курсора на неё */
.back-button .button:hover {
    background-color: #0056b3;
}

/* ----------------------------------------------- */

