<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель админа</title>
    <link rel="stylesheet" href="../src/css/admin.css">
</head>
<body>
    <div class="admin-title-div">
        <h1 class="admin-title">Проверка результатов</h1>
    </div>
    <div class="results-table-div">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Фамилия И.О.</th>
                        <th>Группа</th>
                        <th>ЛБ 1</th>
                        <th>ЛБ 2</th>
                        <th>ЛБ 3</th>
                        <th>ЛБ 4</th>
                        <th>ЛБ 5</th>
                        <th>ЛБ 6</th>
                        <th>ЛБ 7</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in dataForm %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.vusGroup }}</td>
                            {% for lab in row.lbs %}
                                <td>{{ lab }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>