<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../src/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Панель администратора</h1>
        <form action="/admin" method="POST">
            <label for="login">Логин</span></label>
            <input type="text" id="login" name="login" placeholder="Введите логин" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>

            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>