<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель админа</title>
    <link rel="stylesheet" href="../src/css/admin.css">
</head>
<body>
    <div class="admin-title-div">
        <h1 class="admin-title">Панель администратора</h1>
    </div>
    
    <!-- Раздел для генерации ключей -->
    <div class="key-generation-div">
        <h2>Генерация ключей для регистрации</h2>
        <form method="POST" action="/admin-panel">
            <label for="key-count">Введите количество ключей:</label>
            <input type="number" id="key-count" name="key_count" min="1" max="50" required>
            <button type="submit" class="generate-btn">Сгенерировать</button>
        </form>
        
        <div class="generated-keys">
            <h3>Рабочие ключи:</h3>
            <ul id="key-list" class="key-list">
                {% if generated_keys %}
                    {% for key in generated_keys %}
                        <li>{{ key }}
                            <span>
                                <form action="{{ url_for('admin_routes.delete_key') }}" method="post" class="delete-btn-form">
                                    <input type="hidden" name="key-to-delete" value="{{ key }}">
                                    <button type="submit" class="delete-btn">
                                        <b>удалить</b>
                                    </button>
                                </form>
                            </span>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    
    <!-- Таблица с результатами -->
    <div class="results-table-div">
        <h1>Результаты студентов</h1>
        <div class="table-container">
            <ul>
                {% for row in dataForm %}
                    <li>
                        <span>{{ row.username }}    {{ row.group_num }}</span>
                        <div class="max-progress" data-rating="{{ row.procent }}" data-max_rating="{{ max_rating }}"></div>
                        <p>{{ row.rating }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            // Получаем все элементы с классом "bar"
            const bars = document.querySelectorAll('.max-progress');

            // Обрабатываем каждый элемент
            bars.forEach(bar => {
                const maxNum = bar.getAttribute('data-max_rating');
                const num = bar.getAttribute('data-rating');

                // Рассчитываем ширину
                const width = maxNum - (maxNum - num) - 15;

                // Устанавливаем ширину через стиль
                setTimeout(() => {
                    bar.style.width = width + '%';
                }, 100);
            });
        });

    </script>

</body>
</html>