<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка лабораторной</title>
    <link rel="stylesheet" href="../src/css/index.css">
</head>
<body>
    <!-- отображение имени пользователя -->
    {% if user == None %}
    <!-- ссылка на логин, если пользователь не зашёл -->
        <a href="/login" class="login-btn">
            <span id="username">Вход</span>
        </a>
    {% else %}
    <!-- заглушка, если пользователь зашёл -->
        <a href="/profile" class="login-btn">
            <span id="username">{{ user }}</span>
        </a>
    {% endif %}

    <a href="/global-table" class="global-table">
        <span>Общая таблица</span>
    </a>

    <!-- ОСНОВНОЙ БЛОК -->
    <!-- ОСНОВНОЙ БЛОК -->
    <!-- ОСНОВНОЙ БЛОК -->
    <div class="title-main-list">
        <h2 class="title-main">Загрузить лабораторную работу</h2>
    </div>
    
    <!-- Добавляем переключатель языков -->
    <div class="language-switch">
        <button class="lang-btn active" id="cpp-btn" onclick="setLanguage('cpp')">
            <img src="../src/images/cpp-icon.png" alt="C++" class="lang-icon">
        </button>
        <button class="lang-btn" id="python-btn" onclick="setLanguage('python')">
            <img src="../src/images/python-icon.png" alt="Python" class="lang-icon">
        </button>
    </div>
    
    <!-- добавляем форму загрузки файлов -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- C++ -->
        <div id="cpp-section" class="lab-section">
            <div class="input-cells">
                <!-- ячейка загрузки файла -->
                <div class="input-cell-div">
                    <!-- отображение внутри ячейки -->
                    <div class="input-cell-div-p">
                        <image 
                            class="input-cell-p"
                            id="input-cell-ico"
                            src="../src/images/upload-file.png" />
                    </div>
                    
                    <input 
                        type="file" 
                        name="file" 
                        id="file" 
                        class="input-cell"
                        accept=".cpp">
                </div>
                <!-- отображение имени файла -->
                <div id="file-name-display" class="file-name-display">
                    <p>Файл не выбран</p>
                </div>
            </div>
        </div>

        <!-- кнопка загрузки файлов -->
        <div class="button-upload-file">
            <button type="submit" class="button-upload-file-bttn" id="submit-btn" disabled>Отправить</button>
        </div>
        {% if user == None %}
            <p style="text-align: center;">Войдите в аккаунт</p>
        {% endif %}
    </form>

    <script>
       function setLanguage(language) {
            // блоки с полями загрузки файлов
            // const cppSection = document.getElementById('cpp-section');
            // const pythonSection = document.getElementById('python-section');
            
            // кнопки переключения языков
            const cppBtn = document.getElementById('cpp-btn');
            const pythonBtn = document.getElementById('python-btn');
            const inputLang = document.getElementById('file');

            // активирует кнопки и инпут поля выбранного языка,
            // блокирует инпут поля и скрывает кнопки другого языка
            if (language === 'cpp') {
                // cppSection.classList.remove('hidden');
                // pythonSection.classList.add('hidden');
                cppBtn.classList.add('active');
                pythonBtn.classList.remove('active');
                inputLang.accept = '.cpp'
            } else if (language === 'python') {
                // pythonSection.classList.remove('hidden');
                // cppSection.classList.add('hidden');
                pythonBtn.classList.add('active');
                cppBtn.classList.remove('active');
                inputLang.accept = '.py'
            }
        }


        window.onload = function() {
            const username = document.getElementById('username')
            const btn_upload = document.getElementById('submit-btn')


            if (username.textContent.trim() == 'Вход') {
                btn_upload.disabled = true
            } else {
                btn_upload.disabled = false
            }
        }


        document.addEventListener('DOMContentLoaded', () => {
            
            const filesInput = document.querySelectorAll('.input-cell')
            

            filesInput.forEach(input => {
                input.addEventListener('change', (event) => {
                    // const language = event.target.getAttribute('data-language')
                    // const index = event.target.getAttribute('data-index')


                    // updateFilename(language, index)
                    updateFilename()
                })
            })
        })


        function updateFilename() {
            const fileInput = document.getElementById('file')
            const icon = document.getElementById(`input-cell-ico`)
            const filename = document.getElementById(`file-name-display`)

            if (fileInput.files.length > 0){
                icon.src = '../src/images/file-uploaded.png'
                filename.textContent = `${fileInput.files[0].name}`
            } else {
                icon.src = '../src/images/upload-file.png'
                filename.textContent = `Файл не выбран`
            }
        }
    </script>
</body>
</html>
